//--------------------------------------------------------------------
// imports
//--------------------------------------------------------------------

@import "normalize";
@import "mixins";
@import "debug";
@import "fx";
@import "inputs";
@import "misc";


//--------------------------------------------------------------------
// Base
//--------------------------------------------------------------------


$page_width: 960px;


//--------------------------------------------------------------------
// Fonts
//--------------------------------------------------------------------


$font_family: georgia, times, serif;
$fs: 15px;
$h1_fs: $fs * 10px;
$h2_fs: $fs + 3px;
$h3_fs: $fs;
$h4_fs: $fs;
$h5_fs: $fs;
$h6_fs: $fs;
$sub1_fs: $fs - 1px;
$sub2_fs: $fs - 2px;
$sub3_fs: $fs - 3px;


//--------------------------------------------------------------------
// Color palette
//--------------------------------------------------------------------


$font_color: #384247;
$bg_color: #ffffff;
$reverse_font_color: #e2e2e2;
$reverse_bg_color: #222;
/* $font_color: #ddd; */
/* $bg_color: #121212; */
$pagebar_color: #ff7000;


//--------------------------------------------------------------------
// HTML
//--------------------------------------------------------------------


body {
    width: 100%;
    min-width: $page_width;
    font-family: $font_family;
    font-size: $fs;
    color: $font_color;
    /* background: $bg_color; */
    border-top: 16px solid $pagebar_color;
    line-height: 1.8em;
}

#header {
    width: 100%;
    ul {
        margin: 20px 0 0 -8px;
        padding: 0;
    }
    li {
        font-size: $sub1_fs;
        display: inline;
        margin: 0;
        padding: 4px 12px;
        border-right: 1px solid #ccc;
        a {
            padding: 4px 8px;
        }
    }
    li.first {padding-left: 0;}
    li.last {border-right: none;}
}

#footer {
    color: $reverse_font_color;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 140px;
    background: $reverse_bg_color;
    @include vertical-gradient(lighten($reverse_bg_color, 11%), $reverse_bg_color);
    border-bottom: 24px solid #111113;
    .inner {padding: 8px 0 0 100px;}
    h2 {
        position: absolute;
        top: -28px;
        width: auto; height: 24px;
        font-size: $fs;
        margin: 0 0 0 -18px;
        padding: 4px 18px 0 18px;
        display: inline-block;
        border-radius: 4px 4px 0 0;
        background: lighten($reverse_bg_color, 11%);
        color: $reverse_font_color;
    }
    ul {
        @extend .col;
        width: 240px;
        padding: 0;
        margin: 0;
    }
}

#main {
    position: relative;
    width: $page_width;
    margin-left: 100px;
}

li {
    list-style-type: none;
}

a {
    color: $font_color;
    text-decoration: none;
    &:hover {background: $reverse_font_color;}
    &:active {background: #666; color: #ffffff;}
}

#home {
    margin-top: 60px;
    background: #e2e2e2;
    width: 600px;
    padding: 10px 30px;
    margin-left: -30px;
}

.company-info {
    width: 600px;
    font-style: italic;
}

//--------------------------------------------------------------------
// Images
//--------------------------------------------------------------------


// Extend class
.image {
    display: inline-block;  // Lets width and height work.
    background: {position: 0 0; repeat: no-repeat};
    margin: 0;
}
