//--------------------------------------------------------------------
// imports
//--------------------------------------------------------------------

@import "normalize";
@import "mixins";
@import "debug";
@import "fx";
@import "inputs";
@import "misc";


//--------------------------------------------------------------------
// Base
//--------------------------------------------------------------------


$page_width: 960px;


//--------------------------------------------------------------------
// Fonts
//--------------------------------------------------------------------


$font_family: helvetical, arial, sans-serif;
$fs: 15px;
$h1_fs: $fs + 10px;
$h2_fs: $fs + 3px;
$h3_fs: $fs;
$h4_fs: $fs;
$h5_fs: $fs;
$h6_fs: $fs;
$sub1_fs: $fs - 1px;
$sub2_fs: $fs - 2px;
$sub3_fs: $fs - 3px;


//--------------------------------------------------------------------
// Color palette
//--------------------------------------------------------------------


$font_color: #384247;
$bg_color: #ffffff;
$reverse_font_color: #e4e4e4;
$reverse_bg_color: #222;
/* $font_color: #ddd; */
/* $bg_color: #121212; */
$niche_color: #ff6b44;


//--------------------------------------------------------------------
// HTML
//--------------------------------------------------------------------


$left_offset: 40px;


//--------------------------------------------------------------------
// HTML
//--------------------------------------------------------------------


body {
    positon: relative;
    width: 100%;
    min-width: $page_width;
    font-family: $font_family;
    font-size: $fs;
    color: $font_color;
    line-height: 1.8em;
    background: #f8f8f8;
    background: #ffffff;
    /* background: #2a2a2a; */
    /* background: url("../imgs/bg/lake_compressed.jpg") top left no-repeat; */
    /* background: url("../imgs/textures/tiny_grid.png") top left repeat; */
    /* background: url("../imgs/textures/subtle_grey.png") top left repeat; */
    /* background: url("../imgs/textures/subtle_grey_2x.png") top left repeat; */
    /* background: url("../imgs/textures/gplaypattern.png") top left repeat; */
}

#header {
    position: relative;
    width: 100%;
    ul {
        display: inline-block;
        margin: 120px 0 0 120px;
        padding: 0 0 12px 0;
    }
    li {
        display: inline;
        margin: 0;
        padding: 4px 12px;
        border-right: 1px solid $reverse_font_color;
        a {padding: 8px 16px;}
    }
    li.first {margin-left: -4px; padding-left: 0;}
    li.last {border-right: none;}
}

#footer {
    position: fixed;
    bottom: 0; left: 0;
    width: 100%; // height: 120px;
    height: auto;
    color: $reverse_font_color;
    background: lighten($reverse_bg_color, 6%);
    /* @include vertical-gradient(lighten($reverse_bg_color, 11%), $reverse_bg_color); */
    /* border-bottom: 24px solid #111113; */
    /* .inner {padding: 8px 0 0 $left_offset + 60px;} */
    .inner {
        width: $page_width;
        margin: 0 auto;
        padding-top: 16px;
    }
    h2 {
        position: absolute;
        top: -28px;
        width: auto; height: 24px;
        font-size: $fs;
        margin: 0;
        padding: 4px 18px 0 18px;
        display: inline-block;
        border-radius: 2px 2px 0 0;
        background: lighten($reverse_bg_color, 11%);
        color: $reverse_font_color;
    }
    ul {
        @extend .col;
        width: 200px;
        padding: 0 18px;
        margin: 0;
    }
    i {display: none;}
    #social-links {
        float: right;
        i {display: inline-block;}
    }
}

#main {
    // Exists so that the container fills the entire height of the page.
    /* position: absolute; */
    position: relative;
    //
    top: 0;
    width: $page_width; height: 100%;
    padding-left: 60px;
    /* margin-left: $left_offset; */
    margin: 0 auto; min-height: 800px;
    background: #ffffff;
    /* @include box-shadow(0 0 28px 0 #ececec); */
    /* $style: 1px solid #eee; */
    /* border-left: $style; */
    /* border-right: $style; */
    h1 {font-size: $h1_fs + 16px;}
}

li {list-style-type: none;}

a {
    color: $font_color;
    text-decoration: none;
    &:hover {background: $reverse_font_color;}
    &:active {background: $niche_color; color: #ffffff;}
}

#home {
    position: relative;
    width: 840px;
    padding: 10px 30px;
    background: $reverse_font_color;
    border-radius: 0 4px 4px 4px;
}

.company-info {
    font-size: $fs + 10px;
    line-height: 1.6em;
}

.logo {
    position: absolute;
    bottom: -12px; left: 0px;
    border: 12px solid $reverse_font_color;
    border-radius: 4px;
}

.orange-bar {
    position: absolute;
    top: 0;
    left: 0;;
    width: 100%;
    height: 6px;
    background: $niche_color;
    z-index: 999;
    /* left: -10px; */
    /* height: 6px; */
    /* width: $page_width + 30px + 20px; */
    /* box-shadow: 0 4px 8px #ccc; */
}

#social-links {
    /* position: fixed; */
    /* top: 10%; right: 0; */
    /* font-weight: bold; */
    /* position: absolute; */
    /* top: 70px; right: -130px; */
}

.social-link {
    position: relative;
    margin: 4px 10px;
    padding: 4px 0;
    /* color: lighten($font_color, 8%); */
    /* background: $reverse_font_color; */
    /* border-radius: 2px 0 0 2px; */
    /* border-radius: 0 2px 2px 0; */
    cursor: pointer;
    width: 110px;
    /* float: right; */
    /* clear: right; */
    text-align: right;
    &:first-child {margin-top: 0;}
    &:hover {
        /* width: 140px; */
        /* left: 30px; */
        background: darken($reverse_font_color, 10%);
    }
    &:active {
        background: $niche_color;
        color: #ffffff;
    }
    /* Font icons */
    i {
        float: right;
        display: inline-block;
        width: 24px;
        margin-left: 8px;
        color: $font_color;
        background: $reverse_font_color;
        text-align: center;
    }
}


//--------------------------------------------------------------------
// Images
//--------------------------------------------------------------------


// Extend class
.image {
    display: inline-block;  // Lets width and height work.
    background: {position: 0 0; repeat: no-repeat};
    margin: 0;
}
