<div id="about">
  <div class="block">
    <em>Who we are <span class="slash">/</span></em> Our development
    team is committed to crafting the perfect website. Our work is a
    blend of professional design, hard coded features, and customized
    functionality that suits our client's needs. We ensure that what
    we build is compatible with all modern browsers and mobile
    devices.
  </div>
  <div class="block">
    <em>What we do <span class="slash">/</span></em> Our development
    team is committed to crafting the perfect website. Our work is a
    blend of professional design, hard coded features, and customized
    functionality that suits our client's needs. We ensure that what
    we build is compatible with all modern browsers and mobile
    devices.
  </div>
  <div class="block">
    <em>Hire us for your needs <span class="slash">/</span></em> Our development
    team is committed to crafting the perfect website. Our work is a
    blend of professional design, hard coded features, and customized
    functionality that suits our client's needs. We ensure that what
    we build is compatible with all modern browsers and mobile
    devices.
  </div>
</div>
