<div id="contact">
  <div class="banner block headline">
    <em>Want to hire us? <span class="slash">/</span></em> Send us an
    email or fill out the contact form below and we'll be in touch
    with you soon.
  </div>
  <div class="font-size-0">
    <div class="column-extended">
      <div class="block contact-form">
        <div class="field-block">
          <label for="field-first-name"><i class="icon-caret-right"></i> First name <span class="required"> (required)</span></label>
          <input id="field-first-name" type="text" />
        </div>
        <div class="field-block">
          <label for="field-last-name"><i class="icon-caret-right"></i> Last name <span class="required"> (required)</span></label>
          <input id="field-last-name" type="text" />
        </div>
        <div class="field-block">
          <label for="field-email"><i class="icon-caret-right"></i> Email <span class="required"> (required)</span></label>
          <input id="field-email" type="text" />
        </div>
        <div class="field-block">
          <label for="field-message"><i class="icon-caret-right"></i> Tell us about your project <span class="required"> (required)</span></label>
          <textarea id="field-message" type="text" rows="14"></textarea>
        </div>
        <div class="field-block">
          <input id="submit-contact-message" class="submit" type="button" value="Send" />
          <img class="loader" src="/static/imgs/misc/loader.gif" />
        </div>
        <div class="field-block">
          <div class="confirmation">Message sent - we'll be in
          touch shortly.</div>
        </div>
      </div>
    </div> <!-- .column-extended -->
    <div class="column-extended">
      <div class="block">
        <em>Contact us <span class="slash">/</span></em> We're happy
        to answer any questions your project, our company, or anything
        at all. Please send us a message either in the contact form to
        the left or at <span class="email">mysite@codeniche.com</span>.
        We look forward to hearing from you.
      </div>
    </div> <!-- .column-extended -->
  </div>
</div>

