<div id="contact">
  <div class="banner block">
    <em>Want to hire us? <span class="slash">/</span></em> Our development
    team is committed to crafting the perfect website. Our work is a
    blend of professional design, hard coded features, and customized
    functionality that suits our client's needs. We ensure that what
    we build is compatible with all modern browsers and mobile
    devices.
  </div>
  <div class="columns-2">
    <div class="block contact-form">
      <h2>Contact Us</h2>
      <div class="field-block">
        <label for="field-first-name"><i class="icon-caret-right"></i> First name</label>
        <input id="field-first-name" type="text" />
      </div>
      <div class="field-block">
        <label for="field-last-name"><i class="icon-caret-right"></i> Last name</label>
        <input id="field-last-name" type="text" />
      </div>
      <div class="field-block">
        <label for="field-email"><i class="icon-caret-right"></i> Email</label>
        <input id="field-email" type="text" />
      </div>
      <div class="field-block">
        <label for="field-project-info"><i class="icon-caret-right"></i> Tell us about your project</label>
        <textarea id="field-project-info" type="text" rows="14"></textarea>
      </div>
    </div>
  </div>
  <div class="columns-2">
    <div class="block">
      <em>Talk to us <span class="slash">/</span></em> Our development
      team is committed to crafting the perfect website. Our work is a
      blend of professional design, hard coded features, and customized
      functionality that suits our client's needs. We ensure that what
      we build is compatible with all modern browsers and mobile
      devices.
    </div>
    <div class="block">
      <em>Find us <span class="slash">/</span></em> Our development
      team is committed to crafting the perfect website. Our work is a
      blend of professional design, hard coded features, and customized
      functionality that suits our client's needs. We ensure that what
      we build is compatible with all modern browsers and mobile
      devices.
    </div>
  </div>

  <div class="font-size-0">
    <div class="column-extended">
      <div class="block contact-form">
        <h2>Contact Us</h2>
        <div class="field-block">
          <label for="field-first-name"><i class="icon-caret-right"></i> First name</label>
          <input id="field-first-name" type="text" />
        </div>
        <div class="field-block">
          <label for="field-last-name"><i class="icon-caret-right"></i> Last name</label>
          <input id="field-last-name" type="text" />
        </div>
        <div class="field-block">
          <label for="field-email"><i class="icon-caret-right"></i> Email</label>
          <input id="field-email" type="text" />
        </div>
        <div class="field-block">
          <label for="field-project-info"><i class="icon-caret-right"></i> Tell us about your project</label>
          <textarea id="field-project-info" type="text" rows="14"></textarea>
        </div>
      </div>
      <div class="block">
        jdklfjdklfjkl
      </div>
      <div class="block">
        jdklfjdklfjkl
      </div>
      <div class="block">
        jdklfjdklfjkl
      </div>
    </div>
    <div class="column-extended">
      <div class="block">
        jdklfjdklfjkl<br/>
        jlkjadfasjdfkldjkjljkljlkkjfl<br/>
        jlkjadfasjdfkldjkfpjll<br/>
        jlkjadfasjdfkldjkfpjll<br/>
      </div>
      <div class="block">
        jdklfjdklfjkl<br/>
        jdklfjdklfjkljkljklsd<br>
      </div>
      <div class="block">
        jdklfjdklfjkl
      </div>
    </div>
  </div>

  <div class="columns-2">
    <div class="block">
      <em>Hire us <span class="slash">/</span></em> Our development
      team is committed to crafting the perfect website. Our work is a
      blend of professional design, hard coded features, and customized
      functionality that suits our client's needs. We ensure that what
      we build is compatible with all modern browsers and mobile
      devices.
    </div>
    <div class="block">
      <em>Ask us a question <span class="slash">/</span></em> Our development
      team is committed to crafting the perfect website. Our work is a
      blend of professional design, hard coded features, and customized
      functionality that suits our client's needs. We ensure that what
      we build is compatible with all modern browsers and mobile
      devices.
    </div>
  </div>
  <div class="columns-2">
    <div class="block">
      <em>Hire us <span class="slash">/</span></em> Our development
      team is committed to crafting the perfect website. Our work is a
      blend of professional design, hard coded features, and customized
      functionality that suits our client's needs. We ensure that what
      we build is compatible with all modern browsers and mobile
      devices.
    </div>
    <div class="block">
      <em>Ask us a question <span class="slash">/</span></em> Our development
      team is committed to crafting the perfect website. Our work is a
      blend of professional design, hard coded features, and customized
      functionality that suits our client's needs. We ensure that what
      we build is compatible with all modern browsers and mobile
      devices.
    </div>
  </div>
  <div class="columns-2">
    <div class="block">
      <em>Hire us <span class="slash">/</span></em> Our development
      team is committed to crafting the perfect website. Our work is a
      blend of professional design, hard coded features, and customized
      functionality that suits our client's needs. We ensure that what
      we build is compatible with all modern browsers and mobile
      devices.
    </div>
    <div class="block">
      <em>Ask us a question <span class="slash">/</span></em> Our development
      team is committed to crafting the perfect website. Our work is a
      blend of professional design, hard coded features, and customized
      functionality that suits our client's needs. We ensure that what
      we build is compatible with all modern browsers and mobile
      devices.
    </div>
  </div>
  <div class="columns-2">
    <div class="block">
      <em>Hire us <span class="slash">/</span></em> Our development
      team is committed to crafting the perfect website. Our work is a
      blend of professional design, hard coded features, and customized
      functionality that suits our client's needs. We ensure that what
      we build is compatible with all modern browsers and mobile
      devices.
    </div>
    <div class="block">
      <em>Ask us a question <span class="slash">/</span></em> Our development
      team is committed to crafting the perfect website. Our work is a
      blend of professional design, hard coded features, and customized
      functionality that suits our client's needs. We ensure that what
      we build is compatible with all modern browsers and mobile
      devices.
    </div>
  </div>
</div>
