<div id="home">
  <p class="company-info">
    Our development team is committed to crafting the perfect
    website. Our work is a blend of professional design, hard coded
    features, and customized functionality that suits our client's
    needs. We ensure that what we build is compatible with all modern
    browsers and mobile devices.

    <!-- Codeniche creates advanced, professional websites that are -->
    <!-- not only user-friendly but are also built with cutting-edge search -->
    <!-- engine compatibility features and crawl-friendly structure that -->
    <!-- will determine the SEO and SEM baseline health of your site for -->
    <!-- years to come. -->
  </p>
</div>
