<div id="home">
  <div class="block">
    <em>Welcome <span class="slash">/</span></em> Our development
    team is committed to crafting the perfect website. Our work is a
    blend of professional design, hard coded features, and customized
    functionality that suits our client's needs. We ensure that what
    we build is compatible with all modern browsers and mobile
    devices.
  </div>
  <div class="columns-2">
    <div class="block">
      <em>Recent <span class="slash">/</span></em>
    </div>
    <div class="block">
      <em>News <span class="slash">/</span></em>
    </div>
  </div>
</div>
