<div id="home">
  <div class="banner intro block">
    Codeniche is a modern web development house. We build websites to
    our customers' exact needs and specifications. The core principle
    of our work is <strong>simplicity</strong>. That means we take
    care of things for you in every aspect we can. That includes
    development, graphic design, server setup, database management,
    SEO, and whatever else you can throw at us. Codeniche handles the
    work for you.
  </div>
  <div class="columns-2 sub-info">
    <div class="block">
      <em>Essence <span class="slash">/</span></em> In today's world
      your business is only as good as your website. Good design
      reflects upon the maturity of a good business. Our dedicated
      team of developers is committed to delivering an outstanding
      site to help you forge a competitive advantage for your
      business. Your online presence is an effective tool that should
      be utilized to help you engage an ever-increasing audience. High
      service quality and affordability makes our company stand out
      above the rest. Feel free to <a href="contact" >contact us</a>
      for a free consultation to discover how we can help you build
      your website and stake your online presence.
    </div>
    <div class="block quotes">
      <em>Guiding Quotes <span class="slash">/</span></em>
      <p>
        Make everything as simple as possible, but not simpler. <span class="quote-sayer">Albert
        Einstein</span>
      </p>
      <p>
        Everything is designed. Few things are designed well. <span class="quote-sayer">Brian
        Reed</span>
      </p>
      <p>
        Design is a plan for arranging elements in such a way as best
        to accomplish a particular purpose. <span class="quote-sayer">Charles Eames</span>
      </p>
    </div>
  </div>
</div>
