<!DOCTYPE html>

<html>
<head>
  <title>Codeniche</title>
  <link rel="stylesheet" href="static/css/font-awesome.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="static/css/styles.css" type="text/css" media="screen" />
</head>

<body id="body">
  <div id="social-links">
    <div class="social-link">
      <i class="icon-linkedin"></i>LinkedIn
    </div>
    <div class="social-link">
      <i class="icon-facebook"></i>Facebook
    </div>
    <div class="social-link">
      <i class="icon-twitter"></i>Twitter
    </div>
    <div class="social-link">
      <i class="icon-google-plus"></i>Google+
    </div>
  </div>
  <div id="main">
    <div class="orange-bar"></div>
    <div id="header">
      <img class="logo" src="static/imgs/logo/logo_four.png" />
      <ul>
        <li class="first"><a href="home.html">Home</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="about.html">About</a></li>
        <li class="last"><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    {% include subpage %}
  </div> <!-- #main -->
  <div id="footer">
    <div class="inner">
      <h2>Codeniche</h2>
      <div></div>
      <ul>
        <li><i class="icon-envelope-alt"></i> mysite@mygreatsite.com</li>
        <li><i class="icon-phone"></i> (123) 456-7890</li>
      </ul>
      <ul>
        <li><i class="icon-map-marker"></i> 555 Fake St<br/>Brooklyn, NY 12345</li>
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="static/js/jquery/jquery.min.js"></script>
</body>
</html>
