<!DOCTYPE html>

<html>
<head>
  <title>Codeniche</title>
  <link rel="stylesheet" href="static/css/styles.css" type="text/css" media="screen" />
</head>

<body id="body">
  <div id="main">
    <div id="header">
      <ul>
        <li class="first"><a href="home.html">Home</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="about.html">About</a></li>
        <li class="last"><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    {% include subpage %}
  </div> <!-- #main -->
  <div id="footer">
    <ul>
      <li>Email: mysite@mygreatsite.com</li>
      <li>Phone: (123) 456-7890</li>
      <li>Address: 555 Fake St<br/>Brooklyn, NY 12345</li>
    </ul>
  </div>
  <script type="text/javascript" src="static/js/jquery/jquery.min.js"></script>
</body>
</html>
