<!DOCTYPE html>

<html>
<head>
  <title>Codeniche</title>
  <link rel="stylesheet" href="static/css/font-awesome.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="static/css/styles.css" type="text/css" media="screen" />
</head>

<body id="body">

  <div class="orange-bar"></div>

  <div id="main">
    <div id="nav">
      <div class="nav-tri"></div>
      <div class="nav-tri-right"></div>
      <ul>
        <li><a href="home">home</a></li> /
        <li><a href="portfolio">portfolio</a></li> /
        <li><a href="work">our work</a></li> /
        <!-- <li><a href="about">about</a></li> / -->
        <li class="last"><a href="contact">contact</a></li>
      </ul>
    </div>
    <div id="header">
      <a href="home"><img src="static/imgs/logo/whole/codeniche.png" /></a>
    </div> <!-- #header -->
    <div id="subpage">
      {% include data.subpage + ".html" %}
    </div> <!-- #subpage -->
    <div id="footer">
      <ul class="page-links">
        <li><a href="home"><i class="icon-home"></i>Home</a></li>
        <li><a href="portfolio"><i class="icon-folder-close"></i>Portfolio</a></li>
        <li><a href="work"><i class="icon-wrench"></i>Work</a></li>
        <li><a href="contact"><i class="icon-comment"></i>Contact</a></li>
      </ul>
      <ul class="social-links">
        <li><a href="https://www.linkedin.com"><i class="icon-linkedin"></i>LinkedIn</a></li>
        <li><a href="https://www.facebook.com"><i class="icon-facebook"></i>Facebook</a></li>
        <li><a href="https://www.twitter.com"><i class="icon-twitter"></i>Twitter</a></li>
        <li><a href="https://plus.google.com"><i class="icon-google-plus"></i>Google+</a></li>
      </ul>
      <ul>
        <li>Contact us at:</li>
        <li>za@codeniche.com</li>
        <!-- <li>(347)458-6725</li> -->
        <!-- <li>555 Fake St</li> -->
        <!-- <li>Brooklyn, NY 12345</li> -->
      </ul>
    </div> <!-- #footer -->
  </div> <!-- #main -->

  <script type="text/javascript" src="static/js/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/app/app.js"></script>

</body>
</html>
