<div id="portfolio">
  <div class="banner headline block">
    Here are some projects we've been working on.
  </div>
  <div class="columns-2">
    <div class="pic block">
      <div class="pulltab info-tab"><i class="icon-chevron-up"></i></div>
      <div class="pulltab link-tab"><a href="http://yemencafe.com"><i class="icon-share-alt"></i></a></div>
      <img src="static/imgs/portfolio/yemencafe.jpg" />
      <div class="site-info">
        <em><a href="http://yemencafe.com">Yemen
        Cafe </a> <span class="slash">/</span></em> We built this site
        from the ground up for the owner of a popular restaurant. We
        handled all the important steps for him including development,
        design, transferring domains, and hosting setup. The entire
        process was simple, satisfying, and unobtrusive.
      </div>
    </div>
    <!-- <div class="pic block"> -->
    <!--   <div class="pulltab info-tab"><i class="icon-chevron-up"></i></div> -->
    <!--   <div class="pulltab link-tab"><a href="http://yemencafe.com"><i class="icon-share-alt"></i></a></div> -->
    <!--   <img src="http://placehold.it/350x280" /> -->
    <!--   <div class="site-info"> -->
    <!--     <em><a href="http://yemencafe.com">Yemen -->
    <!--     Cafe </a> <span class="slash">/</span></em> We built this site -->
    <!--     from the ground up for the owner of a popular restaurant. We -->
    <!--     handled all the important steps for him including development, -->
    <!--     design, transferring domains, and hosting setup. The entire -->
    <!--     process was simple, satisfying, and unobtrusive. -->
    <!--   </div> -->
    <!-- </div> -->
  </div>
  <!-- <div class="columns-2"> -->
  <!--   <div class="pic block"> -->
  <!--     <div class="pulltab info-tab"><i class="icon-chevron-up"></i></div> -->
  <!--     <div class="pulltab link-tab"><a href="http://yemencafe.com"><i class="icon-share-alt"></i></a></div> -->
  <!--     <img src="http://placehold.it/350x280" /> -->
  <!--     <div class="site-info"> -->
  <!--       <em><a href="http://yemencafe.com">Yemen -->
  <!--       Cafe </a> <span class="slash">/</span></em> We built this site -->
  <!--       from the ground up for the owner of a popular restaurant. We -->
  <!--       handled all the important steps for him including development, -->
  <!--       design, transferring domains, and hosting setup. The entire -->
  <!--       process was simple, satisfying, and unobtrusive. -->
  <!--     </div> -->
  <!--   </div> -->
  <!--   <div class="pic block"> -->
  <!--     <div class="pulltab info-tab"><i class="icon-chevron-up"></i></div> -->
  <!--     <div class="pulltab link-tab"><a href="http://yemencafe.com"><i class="icon-share-alt"></i></a></div> -->
  <!--     <img src="http://placehold.it/350x280" /> -->
  <!--     <div class="site-info"> -->
  <!--       <em><a href="http://yemencafe.com">Yemen -->
  <!--       Cafe </a> <span class="slash">/</span></em> We built this site -->
  <!--       from the ground up for the owner of a popular restaurant. We -->
  <!--       handled all the important steps for him including development, -->
  <!--       design, transferring domains, and hosting setup. The entire -->
  <!--       process was simple, satisfying, and unobtrusive. -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- <div class="columns-2"> -->
  <!--   <div class="pic block"> -->
  <!--     <div class="pulltab info-tab"><i class="icon-chevron-up"></i></div> -->
  <!--     <div class="pulltab link-tab"><a href="http://yemencafe.com"><i class="icon-share-alt"></i></a></div> -->
  <!--     <img src="http://placehold.it/350x280" /> -->
  <!--     <div class="site-info"> -->
  <!--       <em><a href="http://yemencafe.com">Yemen -->
  <!--       Cafe </a> <span class="slash">/</span></em> We built this site -->
  <!--       from the ground up for the owner of a popular restaurant. We -->
  <!--       handled all the important steps for him including development, -->
  <!--       design, transferring domains, and hosting setup. The entire -->
  <!--       process was simple, satisfying, and unobtrusive. -->
  <!--     </div> -->
  <!--   </div> -->
  <!--   <div class="pic block"> -->
  <!--     <div class="pulltab info-tab"><i class="icon-chevron-up"></i></div> -->
  <!--     <div class="pulltab link-tab"><a href="http://yemencafe.com"><i class="icon-share-alt"></i></a></div> -->
  <!--     <img src="http://placehold.it/350x280" /> -->
  <!--     <div class="site-info"> -->
  <!--       <em><a href="http://yemencafe.com">Yemen -->
  <!--       Cafe </a> <span class="slash">/</span></em> We built this site -->
  <!--       from the ground up for the owner of a popular restaurant. We -->
  <!--       handled all the important steps for him including development, -->
  <!--       design, transferring domains, and hosting setup. The entire -->
  <!--       process was simple, satisfying, and unobtrusive. -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
</div>
