<div id="work">
  <div class="banner headline block">
    Here's how Codeniche works for you.
  </div>
  <div class="block">
    <em>Development <span class="slash">/</span></em> We develop to
    your needs and specifications. Our work is reliable, polished,
    consistent, and user-friendly. We use dependable time-tested
    technologies and platforms to ensure that your site stays running
    with minimal hassle. We provide maintenance to keep your site up
    to date when desired. We keep things simple and do all the heavy
    (and light) lifting for you. That includes development, design,
    server setup, SEO, domain name registration, and more. You provide
    the details and we'll provide the product.
  </div>
  <div class="sep"><i class="icon-arrow-down"></i></div>
  <div class="block">
    <em>Design <span class="slash">/</span></em> Our team strives to
    build and integrate visually stunning designs integrated with
    user-friendly features and functionality tailored to your exact
    needs and specifications. Per our principle, we'll take care of
    the work for you. We'll handle the total design aspect. This
    includes layouts, color schemes, visual themes, logos, business
    cards, and more. Take a look at our
    <a href="portfolio">portfolio</a> for previous designs we've
    created.
  </div>
  <div class="sep"><i class="icon-arrow-down"></i></div>
  <div class="block">
    <em>SEO <span class="slash">/</span></em> Get connected with the
    rest of the world. Establishing a powerful internet presence is
    essential in today's competitive market. Codeniche doesn't just
    build your website, our team also optimizes it for better search
    results so that your business always stays relevant in a
    constantly shifting virtual world.
  </div>
</div>
